* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #E27060;
    position: absolute;
    margin: auto;
    top: 50%;
    width: 40%;
    text-align: center;
    font-size: 40px;
}
.canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#7eb3ab, #41b3a3);
}
